@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

//컬러설정

:root {
  //primary
  --primary: #ff6847;
  --primary-hover: #ff542f;
  --black_01: #383835;
  --black_02: #565653;
  --black_03: #777774;
  --black_04: #92928e;
  --black_05: #aaaaa7;
  --black_06: #c5c4bd;
  --black_07: #e0dfd9;

  //bg
  --bg: #f8f7f2;
  --modal-bg: #f8f7f2;
  --bg_white_01: #eeede7;
  --bg_white_02: #f8f7f2;

  //secondary
  --secondary: #ffcfc5;
  --secondary-hover: #ffcfc5;

  //map
  --map-primary: #f0892f;
  --map-figureBg: #ffcfc5;

  //button
  --disabled: #e0dfd9;
  --disabled-font: #c5c4bd;

  //action
  --success: #2bc128;
  --error: #ff0000;
  --brand: #ff6847;

  //font
  --font_black_02: #565653;
}

@-webkit-keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box; /* 엘리먼트의 box-sizing 값을 border-box 로 설정 */

  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-style: normal;
  // outline: none;
}

html,
body {
  position: relative;
  z-index: 0;

  width: 100%;
  min-height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg_white_02);
}

.Loader__Layer {
  position: fixed;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.1);

  touch-action: none;
  pointer-events: none;
}

.line-spin-fade-loader {
  position: relative;
  top: -10px;
  left: -4px;
}
.line-spin-fade-loader > div:nth-child(1) {
  top: 20px;
  left: 0;
  -webkit-animation: line-spin-fade-loader 1.2s -0.84s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s -0.84s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(2) {
  top: 13.63636px;
  left: 13.63636px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: line-spin-fade-loader 1.2s -0.72s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s -0.72s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 20px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: line-spin-fade-loader 1.2s -0.6s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s -0.6s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(4) {
  top: -13.63636px;
  left: 13.63636px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: line-spin-fade-loader 1.2s -0.48s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s -0.48s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(5) {
  top: -20px;
  left: 0;
  -webkit-animation: line-spin-fade-loader 1.2s -0.36s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s -0.36s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(6) {
  top: -13.63636px;
  left: -13.63636px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: line-spin-fade-loader 1.2s -0.24s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s -0.24s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -20px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: line-spin-fade-loader 1.2s -0.12s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s -0.12s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(8) {
  top: 13.63636px;
  left: -13.63636px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out;
}
.line-spin-fade-loader > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  width: 5px;
  height: 15px;
}
.Loader__Box {
}

.Skeleton__Box {
  background-color: var(--template);

  @-webkit-keyframes Skeletone-gradient {
    0% {
      filter: brightness(85%);
    }

    50% {
      filter: brightness(100%);
    }

    100% {
      filter: brightness(85%);
    }
  }

  @keyframes Skeletone-gradient {
    0% {
      filter: brightness(85%);
    }

    50% {
      filter: brightness(100%);
    }

    100% {
      filter: brightness(85%);
    }
  }

  /* 해당되는 컴포넌트에 적용 */
  & {
    -webkit-animation: Skeletone-gradient 1.3s infinite ease-in-out;
    animation: Skeletone-gradient 1.3s infinite ease-in-out;
  }
}

.Header__Wrap {
  position: fixed;
  z-index: 100;

  width: 100%;
  height: auto;

  background-color: #fff;

  border-bottom: 1px solid #ff2e00;

  div {
    position: relative;
  }
}

.Header__Spacer {
  width: 100%;
  height: 122px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
  list-style-type: none;
}

hr {
  border: transparent;
  border-top: 1px solid #000;
}

img {
  display: block;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}
.flex.right {
  justify-content: right;
}
.flex.center {
  justify-content: center;
}
.Float_Right {
  float: right;
}
.hidden {
  display: none;
}

//커스텀 input
input:not(input.default) {
  padding: 20px 22px 20px 48px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  outline: solid 1px #f5edde;
  box-sizing: border-box;
}
input:focus {
  outline: solid 1px var(--primary);
}
input::placeholder {
  color: #797979;
  line-height: 19.2px;
  font-size: 0.875rem;
}
input[type="checkbox"] {
  position: relative;
  visibility: hidden;
  margin-right: 7px;
  width: 20px !important;
  height: 20px !important;
  font-size: 0.875rem;
}

// input checkbox 타입의 스타일을 정의합니다
label:has(input[type="checkbox"]) {
  position: relative;
  display: flex;
}
label:has(input[type="checkbox"]) p {
  font-size: 0.875rem;
  color: var(--font_black_02);
  line-height: 20px;
}

label:has(input[type="checkbox"])::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(/img/common/register/checkbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
label:has(input[type="checkbox"]:checked)::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(/img/common/register/checkbox_active.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

button.emphasis {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  width: auto;
  color: var(--brand);
  font-size: 0.875rem;
}

//login
.Login_Title {
  text-align: center;
  p {
    font-size: 1.25rem;
    margin-bottom: 14px;
  }
  h2 {
    font-size: 1.375rem;
    margin-bottom: 32px;
    margin-top: 16px;
  }
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;

  text-align: center;
}

// defult button
button.Primary {
  width: 100%;

  padding: 14px 0;

  border-radius: 8px;
  font-weight: bold;
  font-size: 1.125rem;
  color: white;
  background-color: var(--primary);
  transition: all 0.3s ease;
}
button.Primary:hover {
  background-color: var(--primary-hover);
}

//secondary
button.Secondary {
  width: 100%;

  padding: 14px 0;

  border-radius: 8px;
  color: white;
  background-color: var(--secondary);
  transition: all 0.3s ease;
}
button.Secondary:hover {
  background-color: var(--secondary-hover);
}

// disabled button
button.Disabled {
  width: 100%;

  padding: 14px 0;

  border-radius: 8px;
  color: var(--disabled-font);
  background-color: var(--disabled);
  transition: all 0.3s ease;
}

// 모바일 환경 접속시 전역 스타일링
@media screen and (max-width: 600px) {
  html,
  body {
    position: relative;
  }
  // 사파리 ios web ui 뷰포트 이슈
  footer {
    padding-bottom: calc(1em + env(safe-area-inset-bottom));
  }
}

@keyframes errorShake {
  50% {
    transform: translate3d(-3px, 0, 0);
  }
  100% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
