.Login {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/img/common/register/face_wink.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.Login_Passcode_Disabled {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/img/common/register/login_passcode_disabled.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.Password {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/img/common/register/lock_keyhole.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.Password_Check_Disabled {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/img/common/register/lock_keyhole_disabled.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.Nicname {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/img/common/register/message_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.Name {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/img/common/register/user_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
