.Project-Card {
  font-size: 13px;
}

.Card-Notice {
  span {
    h4 {
      font-size: 16px;
      color: #fff;
      padding-bottom: 2px;
    }
  }
}

.Card-Header {
  p {
    span {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.Card-Body {
  p {
    span {
      font-size: 14px;
      font-weight: 600;
    }
  }
}
